#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1





configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir

	# Save and restore upstream runtime
	[ -d bin.upstream ] || ([ -d bin ] && mv bin bin.upstream)
	[ -d bin ] || mkdir bin
	cp -av bin.upstream/* bin/
	[ "!" -e bin/mythryld-bootstrap ] || mv bin/mythryld-bootstrap bin/mythryld
	# Add here commands to compile the package.
	sleep 2
	touch src/c/Configure # trigger reconfiguration
	$(MAKE) compiler
	#docbook-to-man debian/mythryl.sgml > mythryl.1

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Save upstream runtime
	[ -d bin.upstream ] || ([ -d bin ] && mv bin bin.upstream)
	# Add here commands to clean up after the build process.
	$(MAKE) -C $(CURDIR)/debian/mythryl-manpages clean
	$(MAKE) clean
	# Restore upstream runtime
	if [ -d bin/ ]; then rm -rf bin/; fi 
	mv bin.upstream bin

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# Add here commands to install the package into debian/mythryl.
	$(MAKE) DESTDIR=$(CURDIR)/debian/mythryl install
	mkdir -p $(CURDIR)/debian/mythryl/usr/lib/mythryl/src/lib/std/ $(CURDIR)/debian/mythryl/usr/lib/mythryl/src/lib/core/init/
	cp -uav $(CURDIR)/src/lib/std/standard.lib.frozen $(CURDIR)/debian/mythryl/usr/lib/mythryl/src/lib/std/
	cp -uav $(CURDIR)/src/lib/core/init/init.cmi.frozen $(CURDIR)/debian/mythryl/usr/lib/mythryl/src/lib/core/init/
	mkdir -p $(CURDIR)/debian/mythryl/usr/share/man/man1/
	$(MAKE) -C $(CURDIR)/debian/mythryl-manpages
	cp -uav $(CURDIR)/debian/mythryl-manpages/*.1 $(CURDIR)/debian/mythryl/usr/share/man/man1/

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
